body {
    font-size: large;
    font-family: Arial, sans-serif;
    }
a {
    color: #097450;
}
a:hover {
    color: #000000;
}

.fitpreview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#map {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    border: 1px solid black;
}
#chartdiv {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
}
textarea {
    height: 120px;
    width: 100%;
    max-width: 320px;
}
#notificationcount {
    font-weight: bold;
    color:red
}
.hide {
    display: none;
}

@media (max-width: 600px) { 
    body {
        font-size: x-large;
    }
    input,textarea,select,button {
        font-size: x-large;
    }
} 
