body {
    font-size: large;
    font-family: Arial, sans-serif;
    }
a {
    color: #097450;
}
a:hover {
    color: #000000;
}
@media (max-width: 1024px) { 
    body {
        font-size: x-large;
    }
    input,textarea,select {
        font-size: x-large;
    }
} 

.fitpreview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#map {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    border: 1px solid black;
}
#chartdiv {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
}
textarea {
    height: 120px;
    width: 100%;
    max-width: 320px;
}
