body {
    font-size: large;
    font-family: Arial, sans-serif;
    }
a {
    color: #097450;
}
a:hover {
    color: #000000;
}

.fitpreview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#map {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    border: 1px solid black;
}
#chartdiv {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: 10px auto;
    border: 1px solid black;
}
textarea {
    height: 120px;
    width: 100%;
    max-width: 320px;
}
#notificationcount {
    font-weight: bold;
    color:red
}
.hide {
    display: none;
}
label {
    font-weight: bold;
    margin-right: 10px;
}

@media (max-width: 600px) { 
    body {
        font-size: large;
    }
    input,textarea,select,button {
        font-size: large;
    }
} 

#upload-form {
    border: 1px solid #000;
    padding: 10px;
}
#upload-form label {
    display: inline-block;
    font-weight: bold;
    width: 125px;
}
#upload-form #name {
    width: 320;
}

#form-user {
    border: 1px solid #000;
    padding: 10px;
}
#form-user label {
    display: inline-block;
    font-weight: bold;
    width: 200px;
}
#form-user input {
    width: 200px;
}
#form-user select {
    width: 200px;
}

#form-add-gear {
    border: 1px solid #000;
    padding: 10px;
}
#form-add-gear label {
    display: inline-block;
    font-weight: bold;
    width: 125px;
}

#gearlist {
    border: 1px solid #000;
    list-style: none;
    padding-left: 0;
}

#media {
    list-style: none;
    padding-left: 0;
}

#form-edit {
    border: 1px solid #000;
    padding: 10px;
}
#form-edit label {
    display: inline-block;
    font-weight: bold;
    width: 125px;
}
#form-edit #name {
    width: 320px;
}
#form-edit #description {
    width: 320px;
    height: 120px;
}

#gearlist {
    padding: 10px;
}
#gearlist span.gear-activity {
    display:inline;
    width: 50px;
    font-weight:bold;

}
#gearlist input.gear-name {
    width: 100px;
}
#gearlist span.gear-distance {
    display: inline-block;
    width: 75px;
    padding-left: .5em;
    text-align: right;
    font-size: smaller;
}
#gearlist input.gear-update {
    margin-left: .5em;
}

span.activity-prop {
    display: inline-block;
    width: 125px;
    font-weight:bold;
    text-transform: capitalize;
    vertical-align: top;
}
span.activity-value {
    display: inline-block;
    width: 200px;
    overflow-wrap: break-word;
}
span.commentUserid {
    display: inline-block;
    font-style: italic;
}
span.commentDate {
    display: inline-block;
    font-size: smaller;
    color: #333;
}

#menu  {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  clear: both;
}
 
#menu li {
  float: left;
}
  
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

/* logo updates */
.header {
    align-items: center;
    display: flex;
}
.header-logo {
    float: left;
}
.header-text {
    float: left;
}
.logo-image {
    width: 75px;
}